header {
    font-size: 50px;
    height: 100px;
    text-align: center;
    margin: auto;
    background-color: brown;
    color: burlywood;
}

.left-button {
    width: 0;
    height: 0;
    margin: auto;
    border-style: solid;
    border-width: 30px 30px 30px 0;
    border-color: transparent #e69965 transparent transparent;
}

.right-button {
    width: 0;
    height: 0;
    margin: auto;
    border-style: solid;
    border-width: 30px 0 30px 30px;
    border-color: transparent transparent transparent #e69965;
}

.wrapper {
    border: solid;
    width: 800px;
    height: 600px;
    text-align: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: center;
}

.container {
    width: 500px;
    text-align: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: center;
}

.game-icon {
    margin: 5vh auto;
    width: 100px;
    height: 100px;
}