/* Webフォント読み込み */
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');


body {
    font-size: 62.5%;
    font-family: 'Yusei Magic', sans-serif;
}

h1, h2, h3, h4, h5, h6, a, p, li {
    margin: 0;
    padding: 0;
}
header {
    /* height: 100px; */
    /* margin: auto; */
    background-color: brown;
}

h1 {
    padding: 2rem 2.5rem;
    font-size: 3rem;
    font-weight: 600;
    color: #ffffff;
}

h2 {
    padding-top: 2rem;
    font-size: 2rem;
    text-align: center;
}

.left-button {
    width: 0;
    height: 0;
    margin: auto;
    border-style: solid;
    border-width: 30px 30px 30px 0;
    border-color: transparent #e69965 transparent transparent;
}

.right-button {
    width: 0;
    height: 0;
    margin: auto;
    border-style: solid;
    border-width: 30px 0 30px 30px;
    border-color: transparent transparent transparent #e69965;
}

.wrapper {
    width: 800px;
    height: 600px;
    text-align: center;
    margin: 5rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    background-color: #555555;
}

.container {
    width: 500px;
    text-align: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: center;
}

.game-icon {
    margin: 3rem;
    width: 100px;
    height: 100px;
    opacity: 0.75;
}

.game-icon a {
    font-size: 1.4rem;
    color: #ffffff;
}

.game-icon:hover {
    opacity: 1;
}