h1, p {
    text-align: center;
}

.container {
    display: flex;
}

.center {
    justify-content: center;
}

.boardGrid {
    width: 20px;
    height: 20px;
    border: 1px dotted silver;
}

.blockGrid {
    width: 12px;
    height: 12px;
    border: 1px solid silver;
}

.side {
    width: 100px;
    height: 100px;
}

input[type=number] {
    width: 80px;
}