body {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: cornflowerblue;
}

#app {
    margin-top: 0;
    padding: 0;
}

#header {
    height: 80px;
    margin-bottom: 15vh;
    background-color: white;
}

#board p {
    text-align: center;
    color: white;
}

h1 {
    margin: 0;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: cornflowerblue;
    vertical-align: text-bottom;
}

table {
    height: 100%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 5px;
    background-color: white;
}

td {
    width: 50px;
    height: 50px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    background-color: cornflowerblue;
    color: white;
    user-select: none;
}

.free {
    background-color: white;
}

.button {
    margin: 10vh auto;
    height: 30px;
    width: 80px;
    background-color: white;
    vertical-align: middle;
}

.button p {
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: cornflowerblue;
}