<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>SocketIOチャット</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>

  <h1>Chat Room</h1>

  <div id="app">
    <!-- 発言フォーム -->
    <form id="frm-post">
      <input type="text" id="msg" v-model="textInput">
      <button v-on:click.prevent="sendMessage">Send</button>
    </form>
    
    <!-- 発言ログ -->
    <p>My Messages</p>
    <ul id="msglist">
      <li v-for="message in myMessages">{{ message }}</li>
    </ul>
    <p>Member Messages</p>
    <ul id="msglist">
      <li v-for="message in memberMessages">{{ message }}</li>
    </ul>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="js/chat.js"></script>
</body>
</html>