<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Play puyopuyo online.">
    <title>puyopuyo</title>
    <link href="https://unpkg.com/sanitize.css" rel="stylesheet">
    <link href="https://unpkg.com/sanitize.css/forms.css" rel="stylesheet">
    <link rel="stylesheet" href="css/puyopuyo.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div id="header">
            <h1>ぷよぷよ</h1>
        </div>
        <div v-if="!gameStart">
            <div>
                <p>横:<input type="number" v-model="W" min="4" max="25"></p>
                <p>縦:<input type="number" v-model="H" min="15" max="25"></p>
                <p>落下間隔（秒）:<input type="number" v-model="speed" min="0.1" max="1.5" step="0.1"></p>
                <p>キーボード操作 [移動 ←↓→] [回転f ] [ハードドロップ ↑] [ホールド s]
                    <br>
                    [スタート space] [ポーズ p] [リセット r]
                </p>
                <p><input type="button" @click="startFn" value="START"></p>
            </div>
        </div>
        <div v-else>
            <p><input type="button" @click="resetFn" value="RESET"></p>
            <div class="container center">
                <div class="side">score<br>{{ score }} </div>
                <div>
                    <div v-for="i in H" class="container">
                        <div v-for="j in W" class="wakuA" :style="{ backgroundColor: color[yx[i-1][j-1]] }"></div>
                    </div>
                </div>
                <!-- <div class="side">
                    <div v-for="k in 5">
                        <div v-for="i in 4" class="container">
                            <div v-for="j in 4" class="wakuB" :style="{ backgroundColor: color[yxNext[k][i-1][j-1]] }"></div>
                        </div>
                    </div>
                </div> -->
            </div>
            <p v-if="paused" style="color: red;">PAUSED</p>
            <p v-if="gameOver" style="color: red;">GAME OVER</p>
        </div>
    </div>
    <script type="text/javascript" src="js/puyopuyo.js"></script>
</body>

</html>