<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Play slide puzzle online.">
    <title>15 puzzle</title>
    <link href="https://unpkg.com/sanitize.css" rel="stylesheet">
    <link href="https://unpkg.com/sanitize.css/forms.css" rel="stylesheet">
    <link rel="stylesheet" href="css/slide.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  </head>

  <body>
    <div id="app">
      <div id="header">
        <h1>Slide Puzzle</h1>
      </div>
      <div id="settings"　v-show="!showBoard">
        <p>Select size: 
          <select v-model.number="size">
            <option value="3">3 x 3</option>
            <option value="4">4 x 4</option>
            <option value="5">5 x 5</option>
            <option value="6">6 x 6</option>
          </select>
        </p>
      </div>
      <div id="board" v-show="showBoard">
        <p v-show="playing">Current moves: {{ count }}</p>
        <p v-show="solved">Total moves: {{ count }}</p>
        <table>
          <tr v-for="row in board">
            <td v-for="num in row" v-bind:class="{ free: num===0 }" @click="clickedFn(num)">{{ num }}</td>
          </tr>
        </table>
      </div>
      <div id="buttons">
      <div class="button" @click="restart">
          <p v-if="solved">SHUFFLE</p>
          <p v-if="playing">SHUFFLE</p>
          <p v-else="playing" v-else="solved">START</p>
        </div>
        <div class="button" v-show="showBoard" @click="quit">
          <p>QUIT</p>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="js/slide.js"></script>
  </body>
</html>
